:root {
  --col-duskYellow: rgb(212, 212, 32);
  --col-peach: rgb(243, 139, 70);
  --col-lightPeach: rgb(248, 172, 122);
  --col-darkPeach: rgb(245, 105, 11);
  --col-black: var(--col-black);
  --col-coral: rgb(238, 52, 108);
  font-size: 1rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || GENERAL STYLES  */

body {
  overflow: hidden;
  background-color: var(--col-lightPeach);
  font-family: cursive;
}

img {
  width: 100px;
  height: 100px;
}

nav,
.nav__main,
.nav__base,
.nav__social__icons {
  display: flex;
}

nav {
  padding: 0 2em;
  background-color: rgb(241, 180, 180);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 25px var(--col-peach);
}

i {
  color: var(--col-darkPeach);
  font-size: 2rem;
  transition: all 0.3s;
}

i:hover {
  color: var(--col-coral);
  transition: all 0.3s;
}

i + i {
  margin-left: 0.5em;
}

li {
  list-style-type: none;
}

li + li {
  margin-left: 1em;
}

a {
  color: var(--col-black);
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--col-darkPeach);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: var(--col-coral);
  transition: color 0.3s;
}

/* || NAV TITLE STYLES */
.nav__main {
  justify-content: center;
  align-items: center;
}

.nav__title {
  text-transform: uppercase;
  color: var(--col-darkPeach);
  font-size: 2rem;
  text-decoration: 8px underline;
}

/* || MENU ICON STYLES */
.nav__icon {
  display: none;
}

.fa-bars {
  color: var(--col-black);
  font-size: 3rem;
  transition: 0.5s;
}

.fa-bars:hover {
  transform: rotate(-90deg);
  transition: 0.5s;
}

/* SHOW burger menu on specific width of viewport */
/* || TOGGLE LINKS CONTAINER */
@media screen and (max-width: 1200px) {
  .nav__social__icons {
    display: none;
  }

  /* .nav__base {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid red;
  } */

  .nav__icon {
    display: block;
  }
}
