/* --ff-sitewide: "VT323", monospace; */
/*
==========
variables
==========
*/
:root {
  --clr-primary-seaGreen: hsl(157, 48%, 43%);
  --clr-primary-dullBlack: hsl(0, 4%, 22%);
  --clr-primary-dirtyWhite: rgba(255, 255, 255, 0.897);
  --clr-primary-turqiousGreen: hsl(175, 89%, 33%);
  --clr-primary-seaGreenLIght: rgba(57, 162, 122, 0.342);
  --clr-primary-dirtyBiege: hsl(41, 37%, 70%);
  --ff-primary: "Secular One", sans-serif;
  --ff-seconday: "Style Script", cursive;
  --fs-h1: 6rem;
  --fs-h2: 3rem;
  --fs-btn: 1.5rem;
  --fs-links: 1.2rem;
  --fs-text: 1.75rem;
  --fs-icons: 2rem;
  --padding-nav: 0.5em 2em;
  --padding-btn: 0.3em 1em;
  --padding-text: 1em;
  --padding-footer: 2em;
  --padding-nav-links: 0.3em 1em;
  --transition-btn: 0.3s linear;
  --transition: 0.5s linear;
}

/*
==========
general
==========
*/
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* padding: var(--padding-body); */
  text-align: center;
  font-size: var(--fs-text);
  color: var(--clr-primary-dirtyWhite);
  font-family: var(--ff-seconday);
}

button {
  border: 5px solid var(--clr-primary-dirtyWhite);
  padding: var(--padding-btn);
  font-size: var(--fs-btn);
  background-color: transparent;
  color: var(--clr-primary-dirtyWhite);
  text-transform: uppercase;
  transition: var(--transition-btn);
  margin-top: 1em;
}

button:hover {
  background-color: var(--clr-primary-seaGreen);
  transition: var(--transition-btn);
}

/* button:focus {
  border: 10px solid var(--clr-primary-seaGreen);
} */

a,
button {
  /* how to add custom pointer? TBD*/
  cursor: url("./images/hiker.png"), pointer;
  /* should work but doesn+t load it - too big of a file??*/
}

a {
  display: block;
  font-size: var(--fs-links);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-primary-dirtyWhite);
  margin-top: 0.5em;
}

h1,
h2,
a,
.company__name {
  font-family: var(--ff-primary);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  color: var(--clr-primary-seaGreen);
  font-size: var(--fs-h2);
  padding-top: 0.5em;
}

img {
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-nav);
  position: relative;
}

section + section {
  height: 60vh;
}

section:nth-child(even) {
  background-color: var(--clr-primary-dirtyWhite);
}

section:nth-child(odd) {
  background-color: var(--clr-primary-seaGreenLIght);
}

footer {
  padding: var(--padding-footer);
  background-color: var(--clr-primary-turqiousGreen);
}

/*
==========
landing section
==========
*/

.landing__section {
  height: 100vh;
  background-attachment: fixed; /*SIMPLE PARALAX EFFECT WOW*/
  background-image: url("./images/lakelanding-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw, 100vh;
}

.landing__section__content {
  transform: translateY(90%);
}

/* only design value - to create an overlay over the image*/
.overlay__display {
  height: 100vh;
  background-color: var(--clr-primary-seaGreenLIght);
}

/*
==========
NAVBAR section
==========
*/
.nav__container__links {
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 128px;
  text-align: left;
  overflow: hidden;
  transition: var(--transition);
  padding-left: 2.25em;
  background-color: var(--clr-primary-seaGreenLIght);
}

/* on click add this class to nav link container*/
.nav__links--active {
  height: 165px;
}

.fa-bars {
  font-size: var(--fs-icons);
}

.hamburger__menu {
  display: block;
  color: var(--clr-primary-dirtyWhite);
}

.scroll--active {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: var(--clr-primary-turqiousGreenLight);
}

/*
==========
arrow pointer
==========
*/

.landing__pointer--active {
  position: fixed;
  right: 100px;
  bottom: 200px;
  width: 50px;
  height: 50px;
  background-color: var(--clr-primary-seaGreen);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__pointer {
  display: none;
}

.fa-arrow-up {
  font-size: var(--fs-icons);
  color: var(--clr-primary-dirtyWhite);
}

/* media query*/
@media screen and (min-width: 900px) {
  nav {
    background-color: transparent;
  }

  .hamburger__menu {
    display: none;
  }

  .landing__section__content {
    transform: translateY(100%);
  }

  .nav__container__links {
    background-color: transparent;
    width: min-content;
    position: static;
    height: min-content;
    display: flex;
  }

  a {
    margin-top: 0;
    margin-left: 2em;
  }
}
