/*
==========
variables
==========
*/
:root {
  --clr-primary-lightBlue: hsl(202, 27%, 80%);
  --clr-primary-darkBlue: rgb(11, 72, 107);
  --clr-primary-greyBlack: rgb(37, 35, 35);
  --clr-primary-dirtyWhite: rgb(233, 231, 231);
  --ff-primary: "Abril Fatface", cursive;
  --ff-secondary: "Bebas Neue", cursive;
  --fs-h1: 2.25rem;
  --fs-text: 1.15rem;
  --fs-h2: 1.5rem;
  --fs-btn: 1.5rem;
  --padding-container: 3em;
  --padding-hidden: 1.15em 0 0;
  --padding-section: 1em 1.5em;
  --padding-h1: 0.5em 0 0;
  --padding-h2: 0.5em 0 0;
  --padding-btn: 1em;
  --padding-text: 1.5em 0 0.5em;
  --mrg-h1-bottom: 1.5em;
}

/*
==========
general styles
==========
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: var(--padding-container);
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

body {
  background-color: var(--clr-primary-lightBlue);
  font-family: var(--ff-secondary);
}

h1,
h2 {
  font-family: var(--ff-primary);
  color: var(--clr-primary-darkBlue);
}

h1 {
  margin-bottom: var(--mrg-h1-bottom);
  padding: var(--padding-h1);
  font-size: var(--fs-h1);
}

h2 {
  padding: var(--padding-h2);
  color: var(--clr-primary-greyBlack);
  font-size: var(--fs-h2);
}

p {
  padding: var(--padding-text);
  color: var(--clr-primary-darkBlue);
  font-size: var(--fs-text);
}

button {
  border: none;
  background-color: transparent;
  font-size: var(--fs-btn);
  color: var(--clr-primary-darkBlue);
  transition: all 0.3s linear;
}

button:hover {
  transform: rotate(90deg);
  transition: all 0.3s linear;
}

section {
  display: flex;
  flex-flow: column;
  width: 90%;
  padding: var(--padding-section);
  background-color: var(--clr-primary-dirtyWhite);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

section + section {
  margin-top: 2.25em;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--clr-primary-greyBlack);
}

/*
==========
question sections styling
==========
*/

.question__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/*
==========
hidden element styling
==========
*/

.hidden {
  display: none;
  height: 0;
  overflow: hidden;
  padding: var(--padding-hidden);
}

/* toggle answer section */
.visible {
  display: block;
  height: 100%;
}
